/* ------------------------------------ Header ------------------------------------ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.hamburger-menu {
  display: none;
}

header nav {
  position: absolute;
  top: 100px;
  /*left: 0;*/
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  padding-right: 2em;
  display: none;

  /*display: flex;*/
  flex-direction: column;
  align-items: flex-end;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.9em;
}

nav li,
nav h2 {
  text-align: right;
}

nav a {
  color: var(--text-icon-color);
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  font-size: 1.4rem;
}

nav a:hover {
  text-decoration: underline;
}

.hamburger-menu:checked ~ nav {
  display: flex;
}

.logo {
  width: 90px;
  height: 90px;
}

.fas {
  font-size: 3.5em;
  color: var(--text-icon-color);
}

.menu-open-hours {
  text-transform: uppercase;
  color: var(--primary-color-100);
  font-size: 1.9em;
  font-weight: var(--font-weight-semibold);
}

.menu-open-hours span {
  font-weight: var(--font-weight-bold);
}

.search {
  margin: 50px 0;
}

.site-search {
  border: none;
  font-family: var(--font-body);
  letter-spacing: var(--letter-spacing-10);
  width: 200px;
  color: var(--gray-color);
  background-color: var(--background-color);
}

.site-search:focus {
  outline: none;
}

button {
  border: none;
  background-color: var(--background-color);
}

hr {
  width: 240px;
  margin: 5px 0;
  color: var(--text-icon-color);
}

.menu h2 {
  text-transform: uppercase;
  font-family: var(--font-body);
  font-weight: var(--font-weight-medium);
  font-size: 1.2em;
}
