/* ------------------------------------ Visit ------------------------------------ */
.page__header {
  color: var(--light-text-color);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  min-height: 60vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px;
}

.visit__img {
  background-image: url(../assets/scott-webb-102825.jpg);
  background-position: left;
  position: relative;
  overflow: hidden;
}

.visit__img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color-overlay);
  z-index: 0;
}

.page__header h1 {
  font-weight: var(--font-weight-extrabold);
  letter-spacing: var(--letter-spacing-20);
  font-size: 3.5em;
  z-index: 1;
}

.tight-p {
  margin: 0.2em 0;
}

article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}

article span {
  font-weight: var(--font-weight-medium);
}

iframe {
  width: 100%;
  margin-top: 10px;
}

.footer__location-link {
  color: var(--text-icon-color);
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}

.footer__location-link:hover {
  text-decoration: underline;
}

/* ------------------------------------ Events ------------------------------------ */

.event__img {
  background-image: url(../assets/roberto-nickson-396152.jpg);
}

.event-page-margin {
  margin: 75px 0;
}

/* ------------------------------------ Exhibitions ------------------------------------ */

.exhibition__img {
  background-image: url(../assets/mavis-cw-164128.jpg);
}

/* ------------------------------------ Explore ------------------------------------ */
.explore__img {
  background-image: url(../assets/markus-spiske-197281.jpg);
}

/* ------------------------------------ Get Involved ------------------------------------ */
.get-involved__img {
  background-image: url(../assets/scientific-2040795_1280.jpg);
  background-position: 30%;
}

/* ------------------------------------ Coming Soon ------------------------------------ */
.coming-soon h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-main);
  font-size: 2em;
  font-weight: var(--font-weight-semibold);
  margin: 100px 0;
}
