@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");

/* --------------------------------------- Universal ---------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font-main);
  color: var(--text-icon-color);
}

p {
  font-weight: var(--font-weight-light);
  font-family: var(--font-body);
}

:root {
  --primary-color-100: rgba(250, 206, 104, 1); /*#face68*/
  --primary-color-75: rgba(250, 206, 104, 0.75);
  --primary-color-50: rgba(250, 206, 104, 0.5);
  --primary-color-25: rgba(250, 206, 104, 0.25);
  --primary-color-border: rgba(214, 177, 90, 1); /*#d6b15a*/
  --secondary-color-100: rgba(90, 156, 181, 1); /*#5a9cb5*/
  --secondary-color-75: rgba(90, 156, 181, 0.75);
  --secondary-color-50: rgba(90, 156, 181, 0.5);
  --secondary-color-25: rgba(90, 156, 181, 0.25);
  --secondary-color-cta-text: rgba(52, 91, 105); /*#345b69*/
  --secondary-color-shadow: rgba(32, 55, 64, 1); /*#202740 */
  --secondary-color-overlay: rgba(32, 55, 64, 0.2);
  --background-color: rgba(250, 250, 250); /*#fafafa*/
  --light-text-color: rgba(251, 251, 251); /*#fbfbfb*/
  --text-icon-color: rgba(23, 23, 23); /*#171717*/
  --gray-color: rgba(73, 80, 87); /*#495057*/

  --font-main: "Barlow Condensed", sans-serif;
  --font-heading: "Sansita", sans-serif;
  --font-body: "Barlow", sans-serif;
  --font-size-base: 16px;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --letter-spacing-5: 5%;
  --letter-spacing-10: 10%;
  --letter-spacing-15: 15%;
  --letter-spacing-20: 20%;
  --letter-spacing-25: 25%;
}

img {
  width: 100%;
}

/* ------------------------------------ Links ------------------------------------ */

a {
  text-decoration: none;
}

/* -- CTA -- */

.cta-large {
  background-color: var(--primary-color-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--background-color);
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 140px;
  height: 35px;
}

.cta-yellow {
  background-color: var(--primary-color-75);
  border: 1px solid var(--primary-color-border);
}

.cta-blue {
  background-color: var(--secondary-color-cta-text);
  color: var(--primary-color-100);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-5);
  font-size: 1.2rem;
  font-family: var(--font-main);
}

.cta-yellow:hover {
  background-color: var(--primary-color-100);
  border: 1px solid var(--primary-color-100);
}

.cta-blue:hover {
  background-color: var(--primary-color-100);
  border: 2px solid var(--secondary-color-cta-text);
  color: var(--secondary-color-cta-text);
}

.cta a,
.newsletter a {
  color: var(--secondary-color-cta-text);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-5);
  font-size: 1.2rem;
}

.breadcrumb {
  padding: 5px 5px;
  margin: 0 auto;
  max-width: 1000px;
}

.breadcrumb a {
  color: var(--text-icon-color);
  font-size: 0.9rem;
}

.breadcrumb__home {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-15);
}

.breadcrumb__current {
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
  letter-spacing: var(--letter-spacing-10);
}

/* -- Navigation Cards -- */
.nav-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid var(--background-color);
  height: 500px;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.nav-card a {
  color: var(--light-text-color);
  font-family: var(--font-heading);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-5);
  font-size: 2.5rem;
  z-index: 1;
  display: flex;
  align-items: end;
  gap: 15px;
}

.nav-card a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color-overlay);
  z-index: -1;
}

.nav-card a:hover::before {
  background-color: transparent;
}

.img__exhibition {
  background-image: url(../assets/mavis-cw-164128.jpg);
}

.img__visit {
  background-image: url(../assets/scott-webb-102825.jpg);
}

/* ------------------------------------ Header ------------------------------------ */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 20px;
}

.hamburger-menu {
  display: none;
}

header nav {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  padding-left: 2em;
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 0.9em;
}

nav a {
  color: var(--text-icon-color);
  text-transform: uppercase;
  font-family: var(--font-main);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-5);
  font-size: 1.4rem;
}

nav a:hover {
  text-decoration: underline;
}

.hamburger-menu:checked ~ nav {
  display: block;
}

.logo {
  width: 90px;
  height: 90px;
}

.fas {
  font-size: 3.5em;
  color: var(--text-icon-color);
}

/* ------------------------------------ Homepage ------------------------------------ */

h1 {
  font-family: var(--font-heading);
  letter-spacing: var(--letter-spacing-5);
}

.hero {
  color: var(--primary-color-100);
  text-shadow: 1px 2px 2px var(--secondary-color-shadow);
  text-transform: uppercase;
  background-image:
    linear-gradient(rgba(32, 55, 64, 0.1)),
    url(../assets/5c786ec9-3ad6-44db-b919-ba79a905b6be.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 75vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  gap: 50vh;
  padding: 5x 0;
}

.hero h1 {
  font-weight: var(--font-weight-black);
  font-size: 2.5em;
}

.hero p {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
}

.hero span {
  font-weight: var(--font-weight-bold);
}

/* --- Event --- */
.event h2 {
  text-transform: uppercase;
  font-family: var(--font-heading);
  letter-spacing: var(--letter-spacing-20);
  font-weight: var(--font-weight-extrabold);
  font-size: 2.8rem;
  text-align: center;
  padding: 20px 40px;
}

/* --- cards ---*/

.card {
  background-color: var(--secondary-color-25);
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: 50px auto;
}

.card:hover {
  background-color: var(--secondary-color-75);
  border: 1px solid var(--secondary-color-100);
}

.card:hover .cta {
  background-color: var(--primary-color-100);
}

.card h3 {
  font-weight: var(--font-weight-medium);
  font-size: 1.5rem;
}

.card h3,
.card p {
  padding: 0 20px;
  letter-spacing: var(--letter-spacing-5);
}

.card .cta {
  margin: 20px auto;
}

.card .card__img {
  display: block;
  aspect-ratio: 4/3;
  background-repeat: no-repeat;
  background-size: cover;
}

.img__space {
  background-image: url(../assets/andrew-ruiz-348421.jpg);
}

.img__mammoth {
  background-image: url(../assets/roberto-nickson-396152.jpg);
  background-position: 50% 70%;
}

.img__energetica {
  background-image: url(../assets/william-bout-264826.jpg);
}

.img__planets {
  background-image: url(../assets/celso-405219.jpg);
  background-position: center;
}

.img__skeleton {
  background-image: url(../assets/mammoth-1257288_1920.jpg);
}

.img__brain {
  background-image: url(../assets/jesse-orrico-60373.jpg);
  background-position: 50% 90%;
}

.img__robot {
  background-image: url(../assets/451f1d85-7f74-4606-9352-455b2d663409.webp);
  background-position: center;
}

.img__plant {
  background-image: url(../assets/jennifer-delmarre-IqmuHJF5khU-unsplash\ \(1\).jpg);
  background-position: center;
}



/* --- Star Club --- */

.star-club {
  background-color: var(--primary-color-100);
  font-family: var(--font-heading);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.star-club p {
  text-align: center;
}

.star-club .cta-blue {
  margin-top: 10px;
}

/* --- Back to top --- */

.back-to-top {
  display: inline-flex;
  background-color: var(--secondary-color-100);
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--text-icon-color);
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-5);
  font-size: 1.5rem;
  gap: 20px;
}

/* ------------------------------------ Footer ------------------------------------ */
footer {
  font-family: var(--font-body);
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.col-span-2 {
  grid-column: span 2;
}

footer h2 {
  font-weight: var(--font-weight-medium);
  font-size: 1rem;
  letter-spacing: var(--letter-spacing-10);
  text-transform: uppercase;
}

footer p {
  margin: 0 0;
}

.footer__links a {
  display: flex;
  color: var(--text-icon-color);
  font-weight: var(--font-weight-light);
}

.footer__links a:hover {
  text-decoration: underline;
}

.newsletter {
  display: flex;
  gap: 90px;
  align-items: center;
}

footer .logo {
  justify-self: end;
}

.footer__socials {
  justify-self: center;
  text-align: center;
  display: grid;
  grid-template-columns: 6 (auto);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
}

.row-span-6 {
  grid-column: span 6;
}

.fa-brands {
  font-size: 1.5rem;
}

/* ------------------------------------ Visit ------------------------------------ */
.page__header {
  color: var(--light-text-color);
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  min-height: 60vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 20px;
}

.visit__img {
  background-image: url(../assets/scott-webb-102825.jpg);
  position: relative;
  overflow: hidden;
}

.visit__img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--secondary-color-overlay);
  z-index: 0;
}

.page__header h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: var(--letter-spacing-20);
  font-size: 3.5em;
  z-index: 1;
}

article {
  max-width: 400px;
  margin: 50px 20px;
  display: grid;
  gap: 20px;
}

article h2 {
  font-family: var(--font-main);
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-10);
  font-size: 1.1em;
}

article p {
}

article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}

article span {
  font-weight: var(--font-weight-medium);
}

iframe {
  width: 100%;
  margin-top: 10px;
}

.location-link {
  color: var(--text-icon-color);
  font-family: var(--font-body);
  font-weight: var(--font-weight-light);
}

.location-link:hover {
  text-decoration: underline;
}

/* ------------------------------------ Events ------------------------------------ */

.event__img {
  background-image: url(../assets/roberto-nickson-396152.jpg);
}

.event-page-margin {
  margin: 75px 0;
}

/* ------------------------------------ Exhibitions ------------------------------------ */

.exhibition__img {
  background-image: url(../assets/mavis-cw-164128.jpg);
}

/* ------------------------------------ Explore ------------------------------------ */