:root {
  --primary-color-100: rgba(250, 206, 104, 1); /*#face68*/
  --primary-color-75: rgba(250, 206, 104, 0.75);
  --primary-color-50: rgba(250, 206, 104, 0.5);
  --primary-color-25: rgba(250, 206, 104, 0.25);
  --primary-color-border: rgba(214, 177, 90, 1); /*#d6b15a*/
  --secondary-color-100: rgba(90, 156, 181, 1); /*#5a9cb5*/
  --secondary-color-75: rgba(90, 156, 181, 0.75);
  --secondary-color-50: rgba(90, 156, 181, 0.5);
  --secondary-color-25: rgba(90, 156, 181, 0.25);
  --secondary-color-cta-text: rgba(52, 91, 105); /*#345b69*/
  --secondary-color-shadow: rgba(32, 55, 64, 1); /*#202740 */
  --secondary-color-overlay: rgba(32, 55, 64, 0.2);
  --background-color: rgba(250, 250, 250); /*#fafafa*/
  --light-text-color: rgba(251, 251, 251); /*#fbfbfb*/
  --text-icon-color: rgba(23, 23, 23); /*#171717*/
  --gray-color: rgba(73, 80, 87); /*#495057*/
  --font-main: "Barlow Condensed", sans-serif;
  --font-heading: "Sansita", sans-serif;
  --font-body: "Barlow", sans-serif;
  --font-size-base: 16px;
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --letter-spacing-5: 5%;
  --letter-spacing-10: 10%;
  --letter-spacing-15: 15%;
  --letter-spacing-20: 20%;
  --letter-spacing-25: 25%;
}
